<html>
<head>
<title>Login here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script type="text/javascript">
function submitForm(){
		var userName = document.getElementById('userName').value;
		var pwd = document.getElementById('uPassword').value;
		alert("data :: "+userName +""+pwd);
}
</script>

</head>
<body>
<!-- NAVBAR Starts -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	<a class="navbar-brand" href="main_page\login">Welcome to the Login Page</a>
  	<div class="navbar" id="navbarSupportedContent">
  		<ul class="navbar-nav mr-auto">
  			<li class="nav-item active">
  				<a class="nav-link" href="#">Home</a>
  			</li>
  			<li class="nav-item active">
       	 		<a class="nav-link" href="..\signup">Want to Sign-up instead? <span class="sr-only">(current)</span></a>
    		</li>
  		</ul>
  	</div>
</nav>

<!-- NAVBAR ENDS -->
<!-- Jumbotron for login -->
<div class="container">
		<div class="jumbotron">
			<div class="container">
				<h1 class="display-4">Hello user!</h1>
				<p class="lead">Please input your details to login.</p>
				<hr class="my-4"> <!-- Horizontal Line -->

					<div class="container"> 
					<form action="" method="POST">
					{% csrf_token %}
					{% if error %}
					{{ error }}
					{% endif %}
					{{ form.as_p }}
					<input type="submit" name="submit" value="Log in"/>
					</form>
			</div>
		</div>
</div>

<div class="sticky-bottom">
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Created by Bismoy Sutar</a>
	</nav>
</div>
</body>
</html>